.price-filter{

}

.price-filter__range {
  width: 100%;
  margin-bottom: 25px;
  position: relative;
  z-index: 5;
  height: 6px;
  background-color: #fff;
  background: #EBEBEB;
  border-radius: 12px;
}

.filter__range-min {
  top: -6px;
  left: 50px;
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: 1px solid #D1D1D1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  cursor: pointer;
}

.filter__range-interval {
  position: absolute;
  z-index: 1;
  width: 80px;
  background-color: #6A983C;
  height: 6px;
  left: 55px;
  border-radius: 12px;
}

.filter__range-max {
  cursor: pointer;
  top: -6px;
  left: 120px;
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: 1px solid #D1D1D1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

.price-filter__box {
  display: flex;
}

.price-filter__box:not(:last-child){
  margin-bottom: 16px;
}

.price-filter__label {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $color-primary;
}

.price-filter__label:not(:last-child){
  margin-right: 32px;
}
.price-filter__input {
  margin-top: 2px;
  display: inline-block;
  padding: 12px 15px;
  border-radius: 8px;
  width: 80px;
  border: 1px solid #d1d1d1;
}

.price-filter__label:nth-child(2){
  position: relative;
}

.price-filter__label:nth-child(2):before{
  content: '-';
  position: absolute;
  bottom: 12px;
  left: -25px;
  color: #a9a9a9;
}
